*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: rgba(27, 27, 27, 0.995);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.js-container{
  box-shadow: 0 0 40px black inset;
  width: fit-content;
  border-radius: 25px;
  padding: 25px 20px;
}

p,h1{
  font-size: 5rem;
  color: rgb(0, 209, 164);
  /* text-shadow: 0 0 300px rgb(0, 255, 200); */
  text-shadow: 0px 0px 20px black;

}